@tailwind base;
@tailwind components;
@tailwind utilities;

/* Web overrides to ensure root spans full height */
#root {
    height: 100vh;
    display: flex;
    flex: 1;
}

body {
    height: 100%;
    background-color: #ffffff;
}


